<header class="mt-4">
    <div class="container">
      <div class="">
        <div class="logo_wrapper">
          <a href="index" class="">
            <img src="assets/images/logo/logo.png" class="logo img-fluid" alt="" />
          </a>
        </div>
        <!-- <nav class="nav_wrapper"> -->
        <div class="top_nav">
          <div class="search-box">
            <label class="icon" for="txt-search"><i class="fas fa-search"></i></label>
            <input type="text" class="form-control txt-search" id="txt-search"
              placeholder="Search Manga(everything)" />
          </div>
          <div class="auth_user">
            <div class="user_box">
              <span class="user_img">
                <img src="assets/images/dummy.jpg" class="img-fluid" alt="user">
              </span>
              <span class="user_name">Pukanshu kumar</span>
            </div>

            <a href="bookmark" type="button" class="btn notification-bell" title="notification">
              <span class="icon"><i class="fas fa-bell"></i></span>
              <span class="notify_count">10</span>
            </a>

            <button type="button" class="btn logout-btn" title="logout">
              <span class="icon"><i class="fas fa-power-off"></i></span>
            </button>
          </div>
          <div class="auth_btn_wrapper">
            <a href="auth-login" class="auth_btn">Login <span class="icon"><i
                  class="fas fa-sign-in-alt"></i></span></a>
            <a href="auth-register" class="auth_btn">Register <span class="icon"><i
                  class="fas fa-sign-in-alt"></i></span></a>
          </div>
          <div class="theme_btn ms-auto">
            <button type="button" class="btn light-btn"><i class="fas fa-sun"></i></button>
            <button type="button" class="btn dark-btn d-none"><i class="fas fa-moon"></i></button>
          </div>
        </div>
        <div class="bottom_nav">
          <button type="button" class="btn navbar-toggler">Menu</button>
          <ul class="nav_links_wrapper">
            <li>
              <a href="index" class="nav-link">Manga Online</a>
            </li>
            <li>
              <a href="latest-manga" class="nav-link">Latest Manga</a>
            </li>
            <li><a href="top-manga" class="nav-link">Hot Manga</a></li>
            <li>
              <a href="new-manga" class="nav-link">Newest Manga</a>
            </li>
          </ul>
        </div>
        <!-- </nav> -->
      </div>
    </div>
  </header>