<div class="d-flex flex-column h-m-100">
  <app-header></app-header>
    <main class="flex-fill ">

      <section class="main_section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb_wrapper mt-3">
                <div class="breadcrumb_item">
                  <a href="javascript:void(0)">Read Manga Online</a>
                </div>
                <div class="breadcrumb_item">
                  <a href="javascript:void(0)"><span>Register</span></a>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card card-body border-0 rounded-0 auth_login_wrapper">
                <div class="row">
                  <div class="col-md-5">
                    <h1 class="fs-5">Create your Manga Account</h1>
                    <form class="form_wrapper">
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="txt-username"><i class="fas fa-users"></i></span>
                        <input type="text" class="form-control" placeholder="Username" name="txt-username"
                          aria-label="username" aria-describedby="txt-username">
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="txt-password"><i class="fas fa-lock"></i></span>
                        <input type="password" class="form-control" placeholder="Password" name="txt-password"
                          aria-label="password" aria-describedby="txt-password">
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="txt-display-name"><i class="fas fa-users"></i></span>
                        <input type="text" class="form-control" placeholder="display name" name="txt-display-name"
                          aria-label="display-name" aria-describedby="txt-display-name">
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="txt-recover-email"><i class="fas fa-envelope"></i></span>
                        <input type="text" class="form-control" placeholder="email to recover password"
                          name="txt-recover-email" aria-label="recover-email" aria-describedby="txt-recover-email">
                      </div>
                      <div class="captcher-wrapper mb-3">
                        <span class="captchar-text" id="txt-captcher">6076</span>
                        <input type="text" class="form-control" placeholder="captcher" name="txt-captcher"
                          aria-label="captcher" aria-describedby="txt-captcher">
                      </div>

                      <div class="submit-wrapper">
                        <button class="btn btn-secondary btn-lg w-100">
                          SIGN UP
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </div>