<footer>
    <div class="container">
      <div class="footer-wrapper">
        <div class="row">
          <div class="col-md-4">
            <h6><a href="javascript:void(0)" class="text-decoration-none footer-link">Privacy Policy</a></h6>
          </div>
          <div class="col-md-4">
            <h6><a href="javascript:void(0)" class="text-decoration-none footer-link">Term & Conditions</a></h6>
          </div>
          <div class="col-md-4">
            <h3 class="footer-tital">About Us</h3>
            <ul class="list-unstyled">
              <li>
                <h6>Email: Domain&#64;gmail.com</h6>
              </li>
              <li>
                <h6>Current Time and Data is <span id="dataTime"></span></h6>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </footer>