<div class="d-flex flex-column h-m-100">
  <app-header></app-header>
    <main class="flex-fill ">
      <section class="hero_section mt-3">
        <div class="container">
          <div class="section_heading">
            <div class="heading">
              <span class="icon"><i class="fas fa-thumbs-up"></i></span>
              <h1>Top Week</h1>
            </div>
          </div>
          <div class="section_content">
            <div class="slider_container owl-carousel" id="hero-slider">
              <div class="slider_item ">
                <img src="assets/images/dummy.jpg" alt="" class="slider_img">
                <div class="slider_caption">
                  <h3 class="item_title">
                    <a href="javscript:void(0)" class="chapter_link">
                      Noble Reincarnation ~Blessed With the Strongest Power From Birth~
                    </a>
                  </h3>
                  <p class="item_text">
                    <a href="javscript:void(0)" class="chapter_link">
                      Chapter 34
                    </a>
                  </p>
                </div>
              </div>
              <div class="slider_item ">
                <img src="assets/images/dummy.jpg" alt="" class="slider_img">
                <div class="slider_caption">
                  <h3 class="item_title">
                    <a href="javscript:void(0)" class="chapter_link">
                      Noble Reincarnation ~Blessed With the Strongest Power From Birth~
                    </a>
                  </h3>
                  <p class="item_text">
                    <a href="javscript:void(0)" class="chapter_link">
                      Chapter 34
                    </a>
                  </p>
                </div>
              </div>
              <div class="slider_item ">
                <img src="assets/images/dummy.jpg" alt="" class="slider_img">
                <div class="slider_caption">
                  <h3 class="item_title">
                    <a href="javscript:void(0)" class="chapter_link">
                      Noble Reincarnation ~Blessed With the Strongest Power From Birth~
                    </a>
                  </h3>
                  <p class="item_text">
                    <a href="javscript:void(0)" class="chapter_link">
                      Chapter 34
                    </a>
                  </p>
                </div>
              </div>
              <div class="slider_item ">
                <img src="assets/images/dummy.jpg" alt="" class="slider_img">
                <div class="slider_caption">
                  <h3 class="item_title">
                    <a href="javscript:void(0)" class="chapter_link">
                      Noble Reincarnation ~Blessed With the Strongest Power From Birth~
                    </a>
                  </h3>
                  <p class="item_text">
                    <a href="javscript:void(0)" class="chapter_link">
                      Chapter 34
                    </a>
                  </p>
                </div>
              </div>
              <div class="slider_item ">
                <img src="assets/images/dummy.jpg" alt="" class="slider_img">
                <div class="slider_caption">
                  <h3 class="item_title">
                    <a href="javscript:void(0)" class="chapter_link">
                      Noble Reincarnation ~Blessed With the Strongest Power From Birth~
                    </a>
                  </h3>
                  <p class="item_text">
                    <a href="javscript:void(0)" class="chapter_link">
                      Chapter 34
                    </a>
                  </p>
                </div>
              </div>
              <div class="slider_item ">
                <img src="assets/images/dummy.jpg" alt="" class="slider_img">
                <div class="slider_caption">
                  <h3 class="item_title">
                    <a href="javscript:void(0)" class="chapter_link">
                      Noble Reincarnation ~Blessed With the Strongest Power From Birth~
                    </a>
                  </h3>
                  <p class="item_text">
                    <a href="javscript:void(0)" class="chapter_link">
                      Chapter 34
                    </a>
                  </p>
                </div>
              </div>
              <div class="slider_item ">
                <img src="assets/images/dummy.jpg" alt="" class="slider_img">
                <div class="slider_caption">
                  <h3 class="item_title">
                    <a href="javscript:void(0)" class="chapter_link">
                      Noble Reincarnation ~Blessed With the Strongest Power From Birth~
                    </a>
                  </h3>
                  <p class="item_text">
                    <a href="javscript:void(0)" class="chapter_link">
                      Chapter 34
                    </a>
                  </p>
                </div>
              </div>
              <div class="slider_item ">
                <img src="assets/images/dummy.jpg" alt="" class="slider_img">
                <div class="slider_caption">
                  <h3 class="item_title">
                    <a href="javscript:void(0)" class="chapter_link">
                      Noble Reincarnation ~Blessed With the Strongest Power From Birth~
                    </a>
                  </h3>
                  <p class="item_text">
                    <a href="javscript:void(0)" class="chapter_link">
                      Chapter 34
                    </a>
                  </p>
                </div>
              </div>
              <div class="slider_item ">
                <img src="assets/images/dummy.jpg" alt="" class="slider_img">
                <div class="slider_caption">
                  <h3 class="item_title">
                    <a href="javscript:void(0)" class="chapter_link">
                      Noble Reincarnation ~Blessed With the Strongest Power From Birth~
                    </a>
                  </h3>
                  <p class="item_text">
                    <a href="javscript:void(0)" class="chapter_link">
                      Chapter 34
                    </a>
                  </p>
                </div>
              </div>
              <div class="slider_item ">
                <img src="assets/images/dummy.jpg" alt="" class="slider_img">
                <div class="slider_caption">
                  <h3 class="item_title">
                    <a href="javscript:void(0)" class="chapter_link">
                      Noble Reincarnation ~Blessed With the Strongest Power From Birth~
                    </a>
                  </h3>
                  <p class="item_text">
                    <a href="javscript:void(0)" class="chapter_link">
                      Chapter 34
                    </a>
                  </p>
                </div>
              </div>
              <div class="slider_item ">
                <img src="assets/images/dummy.jpg" alt="" class="slider_img">
                <div class="slider_caption">
                  <h3 class="item_title">
                    <a href="javscript:void(0)" class="chapter_link">
                      Noble Reincarnation ~Blessed With the Strongest Power From Birth~
                    </a>
                  </h3>
                  <p class="item_text">
                    <a href="javscript:void(0)" class="chapter_link">
                      Chapter 34
                    </a>
                  </p>
                </div>
              </div>
              <div class="slider_item ">
                <img src="assets/images/dummy.jpg" alt="" class="slider_img">
                <div class="slider_caption">
                  <h3 class="item_title">
                    <a href="javscript:void(0)" class="chapter_link">
                      Noble Reincarnation ~Blessed With the Strongest Power From Birth~
                    </a>
                  </h3>
                  <p class="item_text">
                    <a href="javscript:void(0)" class="chapter_link">
                      Chapter 34
                    </a>
                  </p>
                </div>
              </div>
              <div class="slider_item ">
                <img src="assets/images/dummy.jpg" alt="" class="slider_img">
                <div class="slider_caption">
                  <h3 class="item_title">
                    <a href="javscript:void(0)" class="chapter_link">
                      Noble Reincarnation ~Blessed With the Strongest Power From Birth~
                    </a>
                  </h3>
                  <p class="item_text">
                    <a href="javscript:void(0)" class="chapter_link">
                      Chapter 34
                    </a>
                  </p>
                </div>
              </div>
              <div class="slider_item ">
                <img src="assets/images/dummy.jpg" alt="" class="slider_img">
                <div class="slider_caption">
                  <h3 class="item_title">
                    <a href="javscript:void(0)" class="chapter_link">
                      Noble Reincarnation ~Blessed With the Strongest Power From Birth~
                    </a>
                  </h3>
                  <p class="item_text">
                    <a href="javscript:void(0)" class="chapter_link">
                      Chapter 34
                    </a>
                  </p>
                </div>
              </div>
              <div class="slider_item ">
                <img src="assets/images/dummy.jpg" alt="" class="slider_img">
                <div class="slider_caption">
                  <h3 class="item_title">
                    <a href="javscript:void(0)" class="chapter_link">
                      Noble Reincarnation ~Blessed With the Strongest Power From Birth~
                    </a>
                  </h3>
                  <p class="item_text">
                    <a href="javscript:void(0)" class="chapter_link">
                      Chapter 34
                    </a>
                  </p>
                </div>
              </div>
              <div class="slider_item ">
                <img src="assets/images/dummy.jpg" alt="" class="slider_img">
                <div class="slider_caption">
                  <h3 class="item_title">
                    <a href="javscript:void(0)" class="chapter_link">
                      Noble Reincarnation ~Blessed With the Strongest Power From Birth~
                    </a>
                  </h3>
                  <p class="item_text">
                    <a href="javscript:void(0)" class="chapter_link">
                      Chapter 34
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="main_section">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="bookmark_listing_panel_wrapper">
                <div class="list_view_container">
                  <div class="breadcrumb_wrapper">
                    <div class="breadcrumb_item">
                      <a href="javascript:void(0)">Read Manga Online</a>
                    </div>
                    <div class="breadcrumb_item">
                      <a href="javascript:void(0)"><span>Bookmark</span></a>
                    </div>
                  </div>
                  <div class="list_view_body" id="list_view_items">
                    <div class="list_view_item">
                      <div class="item_img">
                        <img src="assets/images/dummy.jpg" class="img-fluid" alt="">
                      </div>
                      <div class="item_content">
                        <div class="item_title_wrapper">
                          <h3 class="item_title">Juvenile Prison</h3>
                          <a href="javascript:void(0)" class="remove_btn">Remove</a>
                        </div>
                        <div class="view_chapter">
                          <span>Viewed : </span>
                          <a href="javascript:void(0)">Chapter 38</a>
                        </div>
                        <div class="current_chapter">
                          <span>Current : </span>
                          <a href="javascript:void(0)">Chapter 39</a>
                        </div>
                        <div class="time_chapter">
                          <span>Last Updated : </span>
                          <span>5 hour ago</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pagination_wrapper">
                    <div class="total-page page-item">TOTAL: 47,276</div>
                    <div class="pages_wrapper">
                      <div class="first-page page-item">
                        <a href="javascript:void(0)">FIRST(1)</a>
                      </div>
                      <div class="page-item active">
                        <a href="javascript:void(0)">1</a>
                      </div>
                      <div class="page-item">
                        <a href="javascript:void(0)">2</a>
                      </div>
                      <div class="page-item">
                        <a href="javascript:void(0)">3</a>
                      </div>
                      <div class="last-page page-item">
                        <a href="javascript:void(0)">LAST(1970)</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <section class="most_popular_section">
                <div class="section_heading">
                  <div class="heading">
                    <h1>MOST POPULAR MANGA</h1>
                  </div>
                </div>
                <div class="section_content">
                  <ul class="most_popular_list" id="most_popular_list">
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        <span class="list_item_title">The Forsaken Saintess And Her Foodie Roadtrip In Another
                          World</span> -
                        <span class="list_item_title">Chapter 17.2</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </section>
              <section class="new_arrival_section">
                <div class="section_heading">
                  <div class="heading">
                    <h1>New Manga</h1>
                  </div>
                </div>
                <div class="section_content">
                  <div class="new_arrival_list" id="new_arrival_list">
                    <div class="list_item">
                      <a href="javascript:void(0)">
                        <img src="assets/images/dummy.jpg" class="img-fluid" alt="">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="section_footer">
                  <a href="javscript:void(0)" class="footer_link">
                    << MORE>>
                  </a>
                </div>
              </section>
              <section class="genres_section">
                <div class="section_heading">
                  <div class="heading">
                    <h1>Manga by Genres</h1>
                  </div>
                </div>
                <div class="section_content">
                  <ul class="genres_list border-bottom">
                    <li class="list_item sort_latest" id="sort_latest">
                      <a [routerLink]="['/list-view']" [queryParams]="{category: 'latest' }">
                        Latest
                      </a>
                    </li>
                    <li class="list_item sort_newest" id="sort_newest">
                      <a [routerLink]="['/list-view']" [queryParams]="{category: 'newest' }">
                        Newest
                      </a>
                    </li>
                    <li class="list_item sort_top-view" id="sort_top-view">
                      <a [routerLink]="['/list-view']" [queryParams]="{category: 'top-view' }">
                        Top View
                      </a>
                    </li>
                  </ul>
                  <ul class="genres_list border-bottom">
                    <li class="list_item status_all" id="status_all">
                      <a [routerLink]="['/list-view']" [queryParams]="{status: 'all' }">
                        ALL
                      </a>
                    </li>
                    <li class="list_item status_completed" id="status_completed">
                      <a [routerLink]="['/list-view']" [queryParams]="{status: 'completed' }">
                        Completed
                      </a>
                    </li>
                    <li class="list_item status_ongoing" id="status_ongoing">
                      <a [routerLink]="['/list-view']" [queryParams]="{status: 'ongoing' }">
                        Ongoing
                      </a>
                    </li>
                  </ul>
                  <ul class="genres_list"  id="genres_list_container">
                    <li class="list_item status_all" id="status_all">
                      <a [routerLink]="['/list-view']" [queryParams]="{status: 'all' }">
                        ALL
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        Action
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        Doujinshi
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        Drama
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        Fantasy
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        Historical
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        Horror
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        Isekai
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        Manhua
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        Manhwa
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        Martial arts
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        Mecha
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        Medical
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        Mystery
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        Psychological
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        Romance
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        School life
                      </a>
                    </li>
                    <li class="list_item">
                      <a href="javascript:void(0)">
                        Sci fi
                      </a>
                    </li>
                  </ul>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </div>